.article_list {
  list-style-type: none;
  border: 1px dashed;
  width: 42%;
  background-color: #A9A9A9;
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.5em;
  padding-bottom: 20px;
}
