.article_list_item {
  border: 1px solid red;
  margin: 20px 20px 0px 0px;
  border-radius: 0.5em;
  background-image: linear-gradient(90deg, #CC0000 -50% , #F1F1F1 11%);
  box-shadow:0px 6px 5px grey;
}

.title,
.short_text,
.author,
.date {
  padding-left: 10px;
  padding-right: 10px;
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
  font-size: 9pt;
  margin: auto;
}

.author,
.date {
  text-align: right;
  display: block;
}

.date {
font-weight: bold;
margin-bottom: 10px;
}

.title {
  padding-top: 10px;
  color: #CC0000;
  font-size: 10.5pt;
}

.author {
margin-top: 25px;
}
